<div class="container">
  <div class="pb-2">
    <h5 class="text-uppercase">
      {{ title }}
    </h5>
  </div>
  <div>
    <p class="news-source">
      <span class="news-source-ribbon">
        Source: {{ source }}
      </span>
    </p>
  </div>
  <div class="pb-3">
    <img [src]="urlToImage" class="w-100" />
  </div>
  <div>
    <p>{{ content | noData: noDataPlaceholder }}</p>
  </div>
  <div>
    <button type="button" class="btn btn-secondary button-back" [mat-dialog-close]="true">
      < Back to the list</button>
  </div>
</div>
