@import './../../../assets/variables';

.search {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-input {
    background: $grey-light;
    border-radius: 2px;
    border: 1px solid $grey;
    color: $grey-dark;
    font-size: 24px;
    font-weight: 300;
    height: 48px;
    margin: 0 auto;
    padding: 10px;
    width: 67%;

    &-error {
      border: 2px solid $red;
    }
  }

  &-button {
    height: 48px;
    width: 67%;
  }
}

.no-data-wrapper {
  text-align: center;

  mat-icon {
    display: inline-table;
    font-size: 10rem;
    margin-top: 2rem;
  }

  span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $sm) {
  .search {
    &-input,
    &-button {
      width: 100%;
    }
  }
}
