.search {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-input {
    background: #eeeeee;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    color: #34495E;
    font-size: 24px;
    font-weight: 300;
    height: 48px;
    margin: 0 auto;
    padding: 10px;
    width: 67%;
  }

  &-button {
    height: 48px;
    width: 67%;
  }
}

.no-data-wrapper {
  text-align: center;

  mat-icon {
    display: inline-table;
    font-size: 10rem;
    margin-top: 2rem;
  }

  span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .search {
    &-input,
    &-button {
      width: 100%;
    }
  }
}
