@import './../../../assets/styles/variables';

.link-read-more {
  background-color: $green;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
}

.news-img {
  height: 20vh;
  object-fit: cover;
  padding-bottom: 20px;
  width: 100%;
}

.news {
  &-source {
    margin: 7px 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    position: relative;

    &-ribbon {
      position: relative;
      top: 0px;
      padding: 10px 20px;
      background: $red-dark;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
      right: 10px;
      width: 100%;
      border-radius: 0;
      color: $white;
  
      &:before {
        content: "";
        position: absolute;
      }
  
      &:before {
        width: 7px;
        height: 100%;
        left: 0px;
        padding: 0 0 15px;
        bottom: -34px;
        border-top: 10px solid $black;
        border-left: 10px solid transparent;
      }
    }
  }

  &-truncate {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &-title {
      @extend .news-truncate;
      font-size: 18px;
      height: 50px;
      -webkit-line-clamp: 3;
    }

    &-description {
      @extend .news-truncate;
      font-size: 14px;
      height: 100px;
      margin-bottom: 20px;
      -webkit-line-clamp: 5;
    }
  }
}

@media screen and (max-width: $sm) {
  .news-img,
  .news-truncate-description {
    height: unset;
  }
}
