<div class="pb-3"> 
  <h5 class="text-uppercase news-truncate-title cursor-pointer" [matTooltip]="article?.title" matTooltipPosition="above" (click)="openDialog()">
    {{ article?.title }}
  </h5>
</div>
<div>
  <p class="news-source">
    <span class="news-source-ribbon">
      Source: {{ article?.source?.name }}
    </span>
  </p>
</div>
<div>
  <img [src]="article?.urlToImage" class="news-img" />
</div>
<div>
  <p class="news-truncate-description">{{ article?.description }}</p>
</div>
<div>
  <a (click)="openDialog()" target="_blank" class="btn link-read-more mb-3 w-100">
    {{ readMore }}
  </a>
</div>
<!-- TODO: After providing single news endpoint implement routing -->
<!-- <a [routerLink]="['/news', formatLink(article?.title)]"
   target="_blank"
   class="btn link-read-more mb-3 w-100">
  {{ readMore }}
</a> -->
