@import './../../../assets/styles/variables';

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $red-dark;
  color: $white;
  font-weight: 600;
  z-index: 10;

  .links {
    position: relative;
    top: -10px;
    left: 10px;

    .menu-item {
      padding: 20px;
      display: inline-block;
      min-width: 120px;
      text-align: center;

      &.active,
      &:hover {
        background-color: $white;

        a {
          color: $blue;
          font-weight: 700;
        }
      }
    }

    a {
      color: $white;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
    }
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: $xs) {
  .hidden {
    display: none;
  }

  .mobile {
    display: flex;
    color: $white;
    position: fixed;
    font-size: 3rem;
    font-weight: 300;
    top: 7px;
    left: 7px;
  }

  .main-navbar {
    .links {
      left: 0;
      margin: 0 !important;
      padding: 0;
      position: absolute;
      top: 61px;
      width: 100%;

      .menu-item {
        padding: unset;
        display: block;
      }

      .navbar-link {
        background-color: $black;
        border: 1px solid $white;
        display: block;
        margin: 0 !important;
        padding: 12px;
        text-align: center;
        width: 100%;
      }
    }
  }
}
