<div class="container">
  <div class="navbar navbar-collapse main-navbar">
    <mat-icon class="mobile cursor-pointer" (click)="showMenu = !showMenu">view_headline</mat-icon>
    <div class="links" [ngClass]="{ 'hidden': !showMenu }">
      <span class="menu-item" [class.active]="isHome" [routerLink]="['/']">
        <a class="navbar-link">{{ 'menu_topnews' | translate }}</a>
      </span>
      <span class="menu-item" [class.active]="isCategories" [routerLink]="['/categories']">
        <a class="navbar-link">{{ 'menu_categories' | translate }}</a>
      </span>
      <span class="menu-item" [class.active]="isSearch" [routerLink]="['/search']">
        <a class="navbar-link">{{ 'menu_search' | translate }}</a>
      </span>
    </div>
  </div>
</div>
