<div class="container main">
  <div class="row">
    <div class="col">
      <h2 class="main-title">{{ title }}</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of categories"
            (opened)="getArticles(category.key)"
            (closed)="panelOpenState = false"
            class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Category: </strong> <a [routerLink]="['/category', category.key]" class="ml-1"> {{ category?.value }} </a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12 col-md-6"
                *ngFor="let article of selectedCategoryArticles">
                <app-news-block [article]="article"></app-news-block>
            </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
      <hr>
    </div>
  </div>
</div>
