@import './assets/styles/variables';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 80px 0 120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.main {
  padding-bottom: 100px;

  &-content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &-title {
    color: $grey-dark;
    text-transform: uppercase;
  }
}

.country-links {
  position: fixed;
  top: 18px;
  right: 36px;
  z-index: 10;

  span {
    color: $white;
    font-weight: 300;
    margin: 0 12px;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

@media screen and (max-width: $sm) {
  .cdk-overlay-pane {
    max-width: 95vw !important;
    width: 95vw !important;
  }
}
